@{
    ViewData["Title"] = "Privacy Policy";
}

<style>

    body {
        background-color: antiquewhite;
        overflow-x: hidden;
    }

    h1 {
        font-size: 5rem;
        font-weight: 500;
        text-transform: uppercase;
        font-family: 'didot', serif;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 0;
    }
    p{
        margin-left: 3rem;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
